# FastAPI and ASGI server
fastapi
uvicorn[standard]

# Environment and API utilities
python-dotenv
requests
beautifulsoup4
alpha_vantage
newsapi-python

# LangChain and Vector DB
langchain
elasticsearch
langchain-elasticsearch
sentence-transformers
langchain-openai

# LangGraph and Multi-Agent System
langgraph
tavily-python 

# PyTorch and dependencies for NLP models
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0

# Document processing
PyPDF2
python-docx
python-multipart

langchain-google-genai
langchain_community